.categories-main-container {
    width: 100%;
    display: flex;
    border: 1px solid $center-border-dark;
    background-color: $center-border;
    flex-direction: row;
    flex-wrap: wrap;
    // border-bottom: 1px solid $center-border-dark;

}

.container-left {
    // border-bottom: 1px solid $center-border-dark;
    width: 40%;
    // background-color: #1c1c1f;
}

.container-middle {
    // border-bottom: 1px solid $center-border-dark;
    width: 20%;
}

.container-right {
    // border-bottom: 1px solid $center-border-dark;
    width: 30%;
    text-align: left;
    font-size: xx-large;
}


// .categories-main-container:hover {
//     background-color: #cc2dcc;
// }

.categories-main-container:hover {
    background-color: $darkerlight2;
}




#flex-item-3 {
    background-color: #1c1c1f;
}



