.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #333533;
    color: $light;
    width: 66%;
    height: 400%;
    height: auto;   
    padding: 25px 25px;
    border: 1px solid $center-border;

  #flex-item {
    margin: 25px, 25px 25px, 25px;
    // text-decoration: underline;
    height: auto;
    width: 100%;
    // was 30%

    padding-top: 2px;
    padding-bottom: 2px;
    // Additional height for the iframe
    iframe {
      height: 600%; /* Set height to viewport height + 200 pixels */
    }
  }

  h2,h3,h4 {
    color: $light;
    background-color: $center-border;

    font: $hfont1;
    text-align: center;
  }

  .codex-text {
    font: $fontstack1;
    font-size: large;
  }

  // import categs, but don't forget this file center imported into style too.
  @import 'categories';


}
