.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #333533;
    color: $light;
    width: 66%;
    height: 400%;
    height: auto;   
    padding: 25px 25px;
    border: 1px solid $center-border;

  #flex-item {
    margin: 25px, 25px 25px, 25px;
    // text-decoration: underline;
    height: auto;
    width: 100%;
    // was 30%

    padding-top: 2px;
    padding-bottom: 2px;
    // Additional height for the iframe
    iframe {
      height: 600%; /* Set height to viewport height + 200 pixels */
    }
  }

  h2,h3,h4 {
    color: $light;
    background-color: $center-border;

    font: $hfont1;
    text-align: center;
  }

  .codex-text {
    font: $fontstack1;
    font-size: large;
  }




  .galaxy-cats {
    width: 100%; /* Adjust width and padding as needed */
    margin: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .far-left {
    // padding: 2px;
    border-bottom: 1px solid $center-border-dark;
    background-color: $center-border;
    margin-right: auto; /* Pushes the element to the far left */

    width: 40%;
    height: 10%;
    cursor: pointer;
  }
  
  .spacer {
    background-color: $center-border;
    border-bottom: 1px solid $center-border-dark;

    width: 10%;
    cursor: pointer;
  }

  .far-right {
    padding: 40px 60px;
    border-bottom: 1px solid $center-border-dark;
    background-color: $center-border;
    margin-left: auto; /* Pushes the element to the far right */
    width: 30%;
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  

  .far-right:hover {
    background-color: #0000001a;
  }
  .far-left:hover {
    background-color: #0000001a;
  }
  .spacer:hover {
    background-color: #0000001a;
  }
}
