.flex-container {
    display: flex;
    flex-direction: column;
    // background-color:#213346;
    // background-color: #ccc9dc;
    background-color: #333533;
    color: $light;
    //   color:#f3f6f8;
    //   color: #f1f1f1;
    width: 66.1%;
    padding: 25px 25px;
  
    // #main {
    //   background-color: #f1f1f1;
    //   //   width: 100px;
    //   margin: 10px;
    //   text-align: center;
    //   line-height: 75px;
    //   font-size: 30px;
    
    //   padding: 25px;
    //   border-top: 12px solid #E2EAEF;
    //   //   float: left;
    //   width: 30%;
    // }
  
    #flex-item {
      margin: 25px, 25px 25px, 25px;
      // text-decoration: underline;
      width: 30%;
      //   height: 200px;
      border: 1px solid; 
      padding-top: 2px;
      padding-bottom: 2px;
      // color: $dark;
    }
}