$light: #f3f6f8;
// $light: cornsilk;

$darkerlight: #E2EAEF;

$dark: #213346;

$fontstack: italic bold small-caps 16px Georgia, serif;
$hfont: bold 38px Papyrus;

$bluelink: #006699;

// fontawesome

// fire
// <i class="fa-duotone fa-fire" style="--fa-primary-color: #e31902; --fa-secondary-color: #e31902;"></i>

// cold large
// <i class="fa-regular fa-snowflake fa-lg" style="color: #74C0FC;"></i>

// refreshed med bottle large
// <i class="fa-solid fa-prescription-bottle-medical fa-rotate-by fa-lg" style="color: #FFD43B; --fa-rotate-angle: 42deg;""></i>
// 🥶🌱🔥

// yellow rice
// <i class="fa-solid fa-bowl-rice fa-lg" style="color: #FFD43B;"></i>

// https://fontawesome.com/icons/skull?f=classic&s=solid
// https://fontawesome.com/icons/book-skull?f=classic&s=duotone

// beer mug for 'Tavern Gossip'??