// use h3 glossary/intro background-color for white backgCol, but change text subheading 'Codices...' to white.
$light: #f3f6f8;

$darkerlight: #E2EAEF;
$darkerlight2: #a4b8c542;

// silver

$dark: #213346;
$fontstack: italic bold small-caps 16px Georgia, serif;
$fontstack1: normal 16px Times, serif;

// $fontstackemoji: normal 32px Times, serif;

$hfont: bold 38px Papyrus;
$hfont1: bold 28px Papyrus;
// $hfont: normal 32px Helvetica sans-serif ;

$center-border: #272927;
$center-border-dark: #1c1c1f;

$bluelink: #006699;
$hfontnav: bisque; //was pink

$h4color: #334d55;
// $testfont: bisque;

// fontawesome

// wizard-hat
// <i class="fa-solid fa-hat-wizard"></i>

// fire
// <i class="fa-duotone fa-fire" style="--fa-primary-color: #e31902; --fa-secondary-color: #e31902;"></i>

// cold large
// <i class="fa-regular fa-snowflake fa-lg" style="color: #74C0FC;"></i>

// refreshed med bottle large
// <i class="fa-solid fa-prescription-bottle-medical fa-rotate-by fa-lg" style="color: #FFD43B; --fa-rotate-angle: 42deg;""></i>
// 🥶🌱🔥

// yellow rice
// <i class="fa-solid fa-bowl-rice fa-lg" style="color: #FFD43B;"></i>

// https://fontawesome.com/icons/skull?f=classic&s=solid
// https://fontawesome.com/icons/book-skull?f=classic&s=duotone

// beer mug for 'Tavern Gossip'??