#news {  
    position: absolute;
    // position: fixed;
    padding: 5px; 
    border: 1px solid #E2EAEF; 
    // border-left: 1px solid #E2EAEF;  
    background-color: $light;  
    float: right;  
    clear: both;
    right: 0px;
    // left: 0px;
    top: 198px;
    width: 15%;  
    min-height: 275px;

    h3 {
        color: $hfontnav;
        background-color: $bluelink;
        text-align: center;
    }
}